.header {
    background-color: #d652a5;
    color: #a8dbab;
    text-align: center;
    padding: 15px;
    border-bottom: 5px solid #a8dbab;
    border-top: 5px solid #a8dbab;
  }

  body{
      background: url(https://media.giphy.com/media/eCFd1JpmaKIpi/giphy.gif);
  }
  .container {
    width: 70%;
    background-color: #d652a5;
    color: #a8dbab;
    border: 5px solid #a8dbab;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
  }
  .col-md-12 {
    padding: 5px;
    margin: auto;
  }
  .populate {
    background-color: #e0e777;
    color: black;
    width: 50%;
    margin: auto;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  h3 {
    font-size: 32px;
    font-weight: bold;
  }
  .info {
    font-size: 24px;
  }